*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body, html{
    height: 100%;
    width: 100%;
   
}
#nav
{
    height: 100px;
    width: 100%; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 40px;
    
}
#nav-part1
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

#nav h3
{
    font-size: 15px;
    border: 2px solid black;
    padding: 5px 15px;
    border-radius: 50px;
}
#nav i
{
    font-size: 15px;
    border: 2px solid black;
    padding: 5px 15px;
    border-radius: 50px;
}
#nav button
{ 
    padding: 7px 12px;
    border-radius: 50px;
    border: 1.5 solid black;
    font-size: 16px;
    font-weight: 600;
}
#btn2
{
    background-color: orangered

}
#main>h1{
    color: black;
    font-size: 150px;
    text-transform:uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    text-align: center;
}
 img
 {
    height: 500px;
    width: 400px;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 20px;

 }

 #img1
 {
    transform: translate(-50%,-50%) rotate(-30deg);
 }
 
 #img2
 {
    transform: translate(-50%,-50%)  rotate(-20deg);
 }
 
 #img3
 {
    transform: translate(-50%,-50%) rotate(-10deg);
 }

 #btn-left
 {
    position: absolute;
    bottom: 5%;
    left: 5%;
    font-size: 18px;
 }
 #insta
 {
    position:absolute;
    bottom: 5%;
    right: 10%;
    font-size: 25px;
    background-color: white;
    border: none; 
    
 }
 #youtube
 {
    position:absolute;
    bottom: 5%;
    right: 6%;
    font-size: 25px;
    background-color: white;
    border: none; 
    
 }
 #facebook
 {
       position:absolute;
       bottom: 5%;
       right: 2%;
       font-size: 25px;
       background-color: white;
       border: none;   
    
 }
 #btn-right
 {
    position: absolute;
    bottom: 2%;
    right: 1%;
    font-size: 18px;
 }